.hero {
    height: 50vh;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    justify-content: center;
    align-items: center;
}

img {
    height: 20vh;
    width: 20vh;
}

.hero__text {
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

.columns {
    justify-content: center;
    padding: 0 48px;
    text-align: left;
    padding-top: 24px;
}

body {
    color: rgb(130, 0, 0);
    background: linear-gradient(-45deg, #ee7752, #673ce7, #23a6d5, #23d538);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}


h2 {
    margin-bottom: 15px;
    font-weight: bolder;
}

div{
    margin-top: 20px;
}
#no{
    margin-bottom: 30px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;


    }
}

@media(min-width:480px) {
    .columns {
        display: flex;
        gap: 48px;
        height: 50vh;
    }
}